# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
.tscache/
.sass-cache/
platforms/
plugins/
typings/
www/lib/
www/css/
www/src/
**/*.tmp.txt
