doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    
    // 3rd stylesheets
    // link(href='/lib/ionic/css/ionic.css', rel='stylesheet')
    link(href='/lib/ionic-material/dist/ionic.material.css', rel='stylesheet')
    
    // 3rd scripts
    script(src='/lib/ionic/js/ionic.bundle.js')
    script(src='/lib/ionic-material/dist/ionic.material.js')
    
    // mock cordova.js to avoid 404 in desktop browser
    script(src='cordova.js')
    
    // custom stylesheets
    link(href='/css/ionic.app.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
    // custom scripts
    script(src='/app/app.js')
    
  body(ng-app='app')
    ion-nav-view
