doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='/lib/ionic/css/ionic.css', rel='stylesheet')
    link(href='/lib/angular-material/angular-material.css', rel='stylesheet')
    
    link(href='/css/styles.css', rel='stylesheet')
    
    script(src='/lib/ionic/js/ionic.bundle.js')
    script(src='/lib/angular-material/angular-material.js')
    script(src='/cordova.js')
    
    script(src='/app/app.js')
    
  body(ng-app='app')
    ion-nav-view
