ion-view
  md-content(md-swipe-left="ctrl.swipeLeft()")
    md-toolbar
      .md-toolbar-tools
        md-button.md-icon-button(ng-click="ctrl.click($event)")
          md-icon.material-icons dehaze 
